:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

.app_container {
  display: flex;
  gap: 60px;
  margin-top: 50px;
}

.todo_list_container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 90vw;
  padding: 10px;
  border: 1px solid black;
  border-radius: 3px;
}

.todo_list_container>h1 {
  flex-grow: 2;
  margin: 0;
  padding: 10px;
  font-size: 3em;
  text-transform: uppercase;
  border-bottom: 1px solid black;
}

.todo_list_body {
  padding-top: 10px;
  text-align: left;
}

.todo_list_body > ul{
  margin: 0;
  padding-left: 20px;
}

.filter_container>label {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 15px;
  font-size: 1.5rem;
  text-align: left;
  background-color: antiquewhite;
  border-radius: 3px;
}

.filter_container>label>select {
  font-size: 1rem;
  padding: 5px;
}

.todo_add_task {
  display: flex;
  align-items: baseline;
  gap: 5px;
  color: blue;
}

.todo_add_task:hover {
  cursor: pointer;
  font-weight: 700;
}

.todo_input_wrapper {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.todo_input_btns {
  display: flex;
  gap: 5px;
}

.todo_input_btns>button {
  flex: 0 0 50%;
  border: none;
  border-radius: 3px;
  padding: 3px 5px;
  color: white;
}

.todo_input_btns>button:hover {
  cursor: pointer;
}

.todo_input_btns>button:first-child {
  background-color: green;
}

.todo_input_btns>button:last-child {
  background-color: red;
}

.item:hover {
  cursor: pointer;
  background-color: cadetblue;
}

.item_completed {
  text-decoration: line-through;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}